
/* top bar  */
.topbar-area .container-fluid,
.andtour-navbar .container-fluid{
    max-width: 1725px!important;
}
.andtour-header{
 position: absolute;
 width: 100%;
 z-index: 99;
}
.topbar-area {
    padding: 8px 0;
    border-bottom: 1px solid #dddddd73;
}
.topbar-list{
    display: flex;
}
.topbar-left .social-media a i{ color: var(--white-color); transition: var(--transition); -webkit-transition: var(--transition); -moz-transition: var(--transition); -ms-transition: var(--transition); -o-transition: var(--transition);
}
.topbar-left .social-media a i:hover{
    color: var(--black-color);
    }

.topbar-area .topbar-right .topbar-list {
    justify-content: flex-end;
   }
.topbar-left .social-media a{
    margin-left: 8px;
}
.topbar-list li {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border-right: 1px solid #dddddd73;
    padding:0px 15px;
    transition: var(--transition);
}
.topbar-list li a{
   color: var(--white-color);
}
.topbar-list li{
    position: relative;
 }
.topbar-list li a:hover{
    color: var(--black-color);
 }
.topbar-list li:first-child {
  padding-left: 0px;
}
.topbar-list li:last-child{
    padding-right: 0px;
    border-color:transparent;
  }
  .topbar-right .topbar-list .form-select{
    background-color: transparent;
    border: 0;
    padding: 0px;
    color:var(--white-color);
    outline: none;
    box-shadow: none;
    background-image: none; 
  }
  .topbar-right .topbar-list .form-select option{
   color: var(--black-color);
  }

  
  /************************************* navbar ************************************/
    .others-options{
        display: flex;
        align-items: center;
    }
    .others-options i{
        color: var(--white-color);
        font-size: 21px;
        margin-right:25px;
    }

    .nav-btn{
        font-size: 14px!important;
        background-color:var(--main-color);
        padding: 10px 24px!important;
        transition:var(--transition) !important;    
}
 

    .nav-responsive{
        display: none;
    }
    
    .andtour-navbar.is-sticky {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
        background:var(--main-color) !important;
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        -webkit-transition: .6s;
        transition: .6s
    }

  
    
    
  /* search bar  */
  .search-overlay .search-overlay-form {
    -webkit-transition: all .9s ease-in-out 1.4s;
    transition: all .9s ease-in-out 1.4s;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    max-width: 500px;
    width: 500px;
    z-index:99999999999;
}

.search-overlay .search-overlay-form form {
    position: relative
}

.search-overlay .search-overlay-form form .input-search {
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 30px;
    color: var(--paragraph-color);
    padding: 0 0 0 25px;
    font-weight: 500;
    outline: 0
}

.search-overlay .search-overlay-form form button {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    color: #fff;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color:var(--main-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 20px;
    line-height: 50px
}

.search-overlay .search-overlay-form form button:hover {
    background-color: var(--black-color);
    color: #fff
}

.search-overlay-close {
    background-color:var(--white-color);
    padding: 10px;
    position: absolute;
    top: 70px;
    border-radius: 50%;
    right: 5%;
    opacity: 1;
}

  
  .andtour-navbar {
    width: 100%;
  }
  
  .andtour-navbar.transparent {
    background: transparent;
  }
  
  .andtour-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .andtour-navbar .site-navigation  {
  position: relative;
 }
  
  .andtour-navbar .site-navigation .site-menu {
    margin-bottom: 0;
    display: block;
  }
  
  
  .andtour-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
  }
  
  .andtour-navbar .site-navigation .site-menu>li {
    display: inline-block;
  }
  
  .andtour-navbar .site-navigation .site-menu>li>a {
    padding: 10px 0px;
    color:var(--white-color);
    font-size: 16px!important;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
}
  
  
  .andtour-navbar .site-navigation .site-menu .drop-down {
    position: relative;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down>a {
    position: relative;
    padding-right: 30px;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down>.nav-link:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    font-weight: 600;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list {
    visibility: hidden;
    opacity: 0;
    top: 110%;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: var(--white-color);
    transition: 0.2s 0s;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list.arrow-top {
    position: absolute;
  }

  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list .active>a {
    color: var(--main-color) !important;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li {
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li>a {
    padding: 9px 20px;
    display: block;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li>a:hover {
    background: #fafafb;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down>a {
    position: relative;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down>a:after {
    position: absolute;
    right: 0;
    content: "\e315";
    right: 20px;
    font-family: 'icomoon';
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down>.dropdown-list,
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down>ul {
    left: 100%;
    top: 0;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down:hover>a,
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down:active>a,
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li.drop-down:focus>a {
    background: #fafafb;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down:hover>a,
  .andtour-navbar .site-navigation .site-menu .drop-down:focus>a,
  .andtour-navbar .site-navigation .site-menu .drop-down:active>a {
    color: var(--white-color);
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down:hover,
  .andtour-navbar .site-navigation .site-menu .drop-down:focus,
  .andtour-navbar .site-navigation .site-menu .drop-down:active {
    cursor: pointer;
  }
  
  .andtour-navbar .site-navigation .site-menu .drop-down:hover>.dropdown-list,
  .andtour-navbar .site-navigation .site-menu .drop-down:focus>.dropdown-list,
  .andtour-navbar .site-navigation .site-menu .drop-down:active>.dropdown-list {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
    z-index: 9999999999999;
}
  
  .responsive-nav {
    max-width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    top: 0;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    z-index:99999999999999;
  }
  
  .offcanvas-menu .responsive-nav {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .responsive-nav .responsive-nav-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .responsive-nav .responsive-nav-header .responsive-nav-close {
    float: right;
    margin-top: 8px;
    visibility: hidden;
  }
  
  
  .responsive-nav .responsive-nav-header .responsive-nav-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .responsive-nav .responsive-nav-header .responsive-nav-logo a {
    display: inline-block;
    text-transform: uppercase;
  }
  
  .responsive-nav .responsive-nav-header .responsive-nav-logo a img {
    max-width: 70px;
  }
  
  .responsive-nav .responsive-nav-header .responsive-nav-logo a:hover {
    text-decoration: none;

  }
  
  .responsive-nav .responsive-nav-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
  }
  
  .responsive-nav .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  
  .responsive-nav .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
  }
  
  .responsive-nav .site-nav-wrap a:hover {
    color: var(--main-color);
  }
  
  .responsive-nav .site-nav-wrap li {
    position: relative;
    display: block;
  }
  
  .responsive-nav .site-nav-wrap li.active>a {
    color: var(--main-color);
  }
  
  .responsive-nav .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .responsive-nav .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
  }
  
  .responsive-nav .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: .3s all ease;
  }
  
  .responsive-nav .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .responsive-nav .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
  
  .responsive-nav .site-nav-wrap>li>a {
    padding-left: 20px;
    font-size: 20px;
  }
  
  .responsive-nav .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .responsive-nav .site-nav-wrap>li>ul>li {
    display: block;
  }
  
  .responsive-nav .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px;
  }
  
  .responsive-nav .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
  }
  
  .responsive-nav .site-nav-wrap>li>ul>li>ul>li {
    display: block;
  }
  
  .responsive-nav .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
  }
  
  .responsive-nav .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
  }
  
  .responsive-nav .site-nav-wrap[data-class="social"]>li {
    width: auto;
  }
  
  .responsive-nav .site-nav-wrap[data-class="social"]>li:first-child a {
    padding-left: 15px !important;
  }
    
  .icon-menu{
    color: var(--white-color);
    font-size: 35px;
  }
  .nav-area{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 0;
  }
  .nav-area .nav-area-left{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .nav-logo{
    margin-right: 50px;
  }
  .site-menu .nav-item .nav-link.active:after{
    transform: scaleX(1);
  }
  .andtour-navbar .site-navigation .site-menu .drop-down .dropdown-list>li>a.active{
    color: var(--main-color);
  }

  .site-menu .nav-item .nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--main-color);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.site-menu .nav-item .nav-link:hover:after {
    transform: scaleX(1);
}

.site-menu .nav-item .nav-link.fromRight:after {
    transform-origin: 100% 50%;
}

.site-menu .nav-item .nav-link.fromLeft:after {
    transform-origin: 0% 50%;
}

.responsive-nav-icon i{
  color: var(--white-color);
  margin-right: 15px;
  font-size: 18px;
}

.responsive-nav-icon{
  display: none;
}



/**************************** menu overlay ************************ */

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden
  }
  
  .menu-overlay .menu-overlay-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  
  .menu-overlay .menu-overlay-layer:nth-child(1) {
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
  }
  
  .menu-overlay .menu-overlay-layer:nth-child(2) {
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s
  }
  
  .menu-overlay .menu-overlay-layer:nth-child(3) {
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: all .9s ease-in-out .6s;
    transition: all .9s ease-in-out .6s
  }
  
  .menu-overlay .menu-overlay-close {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 50px;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all .3 ease-in-out .5;
    transition: all .3 ease-in-out .5;
    opacity: 0;
    visibility: hidden;
  }
  
  .menu-overlay .menu-overlay-close .menu-overlay-close-line {
    width: 100%;
    height: 3px;
    float: left;
    margin-bottom: 5px;
    background-color: #fff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease
  }
  
  .menu-overlay .menu-overlay-close .menu-overlay-close-line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  
  .menu-overlay .menu-overlay-close .menu-overlay-close-line:nth-child(2) {
    margin-top: -7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  
  .menu-overlay .menu-overlay-close:hover .menu-overlay-close-line {
    background: #fff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
  
  .menu-overlay.menu-overlay-active.menu-overlay {
    opacity: 1;
    visibility: visible
  }
  
  .menu-overlay.menu-overlay-active.menu-overlay .menu-overlay-layer {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  
  .menu-overlay.menu-overlay-active.menu-overlay .menu-overlay-close {
    opacity: 1;
    visibility: visible
  }
  
  
  .menu-overlay .responsive-nav{
    -webkit-transition: all .9s ease-in-out .4s;
    transition: all .9s ease-in-out .4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right:0%;
    z-index: 2;
    -moz-transition: all .9s ease-in-out .4s;
    -ms-transition: all .9s ease-in-out .4s;
    -o-transition: all .9s ease-in-out .4s;
  }
  .menu-overlay.menu-overlay-active.menu-overlay .responsive-nav {
  opacity: 1;
  visibility: visible
  }


/**************************** responsive ********************** */

@media only screen and (max-width:767px) {

  .menu-overlay .menu-overlay-close {
      top: 20px;
      left: 20px
  }
}
    
@media (max-width: 1440px) {
      
  .andtour-navbar .site-navigation .site-menu>li>a{
    margin-right: 28px;
  }
  .nav-logo{
    margin-right: 30px;
  }
  .andtour-navbar .nav-item .nav-link{
    margin-right: 25px;
}

}

@media (max-width: 1199px) {

  .andtour-navbar .site-navigation .site-menu>li>a{
    margin-right: 12px;
  }

  .nav-btn{
    padding: 7px 20px;
    font-size: 15px;
}
.andtour-navbar .site-navigation .site-menu .drop-down>a{
  padding-right: 26px;
}

  .topbar-list li {
      font-size: 14px;
      padding:0 10px;
  }
  .navbar .nav-item .nav-link{

      margin-right: 15px;
  }
  .navbar .navbar-nav{
      margin-left:10px;
  }

  .others-options i{
      font-size: 17px;
      margin-right:15px;
  }
  .navbar-brand{
     margin-right: 0px;
  }
  
}
@media (max-width: 992px) {
 
    .topbar-right{
        display: none;
       }
       .topbar-list{
        justify-content: center;
       }
.andtour-navbar .site-navigation .site-menu {
  display:none ;
}
.responsive-nav-icon{
  display: flex;
  align-items: center;
  position: relative;
  top: 3px;
}

.others-options{
  display: none;
}
  .nav-responsive{
      display: block  ;
  }
  .navbar-collapse {
      position: absolute;
      top: 110%;
      background-color:white;
      z-index: 9;
      right: 20px;
      width: 65%;
      padding: 5px 20px;
  }
}
@media (max-width: 767px) {
   .topbar-left .topbar-list li:last-child{
      display: none;
   }
  .search-overlay .search-overlay-form {
      max-width: 280px;
      width: 280px
  }
  
}
@media (max-width: 567px) {
  .responsive-nav{
    width: 250px;
  }
  .topbar-area{
    display: none;
  }
}


