@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}

@media (max-width: 1440px) {
    .search-bar-wrapper .choices__list--single .choices__item{
        font-size: 26px;
    }
    .search-bar-wrapper .form-control{
        font-size: 20px;
    }
      .newsletter-form .input-group button {
        padding: 8px 20px;
      }
      .divider{
        margin: 0 20px 0 15px;
    }
    .list-card-body-footer p span{
      padding: 5px 9px;
      font-size: 12px;
      margin-right: 5px;
    }
}

@media (max-width: 1199px) {
    .newsletter-content p{
        font-size: 18px;
        margin: 10px 0;
    }
  
  .search-bar-wrapper .form-control{
    font-size: 15px;
}
.list-card-body-footer .btn{ 
  padding:7px 18px;
}

}

@media (max-width: 992px) {
  .search-bar-wrapper .form-control{
    font-size: 20px;
}
    .newsletter-left {
        margin-bottom: 20px;
      }
      .footer-link-area{
        padding-top: 10px;
      }  
   .footer-first-area,   
  .footer-content {
    padding-bottom: 20px;
  }
  .footer-first-area li a{
    overflow-wrap:normal     
 }
 .list-card-body-footer .btn{
  margin-top: 10px;
 }
 .price-tag{
  margin-top: 5px;
text-align: left!important;
 }
 .list-card-body-price{
  margin:3px 0 6px 0;
  }

.tour-card-img img{
  height: 315px;
}
#list-card-map .tour-card-img img{
  height: 266px;
}
.card-title h4{
  font-size: 18px;
}
}

@media (max-width: 767px) {
    .pagination .page-item{
        margin: 0  0px;
    }
    .mail-img img{
        width: 80%;
        }
        .newsletter-left {
            text-align: center;
            flex-direction: column;
          }
          .newsletter-content {
            margin-left: 0px;
          }
          .newsletter-content h4 {
            font-size: 32px;
          }
        
          .newsletter-form .form-control {
            font-size: 14px;
            font-weight: 300;
          }
          .copyright-area {
            text-align: center;
          }
          
  .copyright-right {
    margin-top: 8px;
    justify-content: center;
  }
  .footer-link-area ul li {
    padding-bottom: 10px;
  }

  .footer-area {
    padding: 50px 0 20px 0;
  }

  .footer-link-area {
    padding-top: 0px;
  }
  .list-view .tour-card-img{
    border-radius:12px 12px 0px 0px;
}
.tour-card{
  border-radius: 26px;
}
.tour-card-img img{
  height: auto;
}
}

@media (max-width: 576px) {
  .search-bar-wrapper .choices__list--single .choices__item{
    font-size: 20px;
  }
  .topbar-area{
    display: none;
  }
  .list-rating p:nth-child(2),
  .list-card-body-price p:nth-child(2),
  .price-tag p{
    display: none;
  }

  .card-title h4{
    font-size: 20px;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 361px) {}